page-home {

  .header-bgr {
    position:relative;
    width:100%;
    height: 340px;
    background:transparent url("../assets/images/header-bgr.gif") repeat-x;
    text-align:center;
  }

  .header-anim {
    margin-top:-5px;
  }

}
