<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class='header-bgr'>
        <img src="{{bgrImg}}" class='header-anim' alt='' />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <h2>Duck, You Sucker!</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button>View Sightings</button>
        <br />
        <button ion-button color="secondary">Add Sighting</button>
        <br />
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
