@font-face {
  font-family: 'Roboto-Regular';
  src: url("../assets/fonts/roboto-regular.woff2") format("woff2"), url("../assets/fonts/roboto-regular.woff") format("woff"), url("../assets/fonts/roboto-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../assets/fonts/roboto-thin.woff2") format("woff2"), url("../assets/fonts/roboto-thin.woff") format("woff"), url("../assets/fonts/roboto-thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Roboto-Thin', sans-serif;
  font-weight: normal;
}

ion-app.md {
  background-color: #141518;
}
